<footer class="bg-dark px-5 ">
    <div id="posAnim71" class="row text-light py-4 overflow-hidden">
      <div class="top100 position-relative opacity0 col-md-4 col-sm-6">
        <h5 class="pb-3 text-info">درباره ما</h5>
        <p class="small">حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها  اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
      </div>
      <div class="top100 position-relative opacity0 col-md-4 col-sm-6">
        <h5 class="pb-3 px-sm-4 text-info">آخرین مقالات</h5>
        <ul class="list-unstyled pr-0  pr-sm-4">
          <li><a href="#" class="footer-link">لورم ایپسوم 1</a></li>
          <li> <a href="#" class="footer-link">لورم ایپسوم 2</a></li>
          <li>
            <a href="#" class="footer-link">لورم ایپسوم 3</a>
          </li>
          <li>
            <a href="#" class="footer-link">لورم ایپسوم 4</a>
          </li>
        </ul>
      </div>
      <div class="top100 position-relative opacity0 col-md-4 col-sm-12">
        <h5 class="pb-3 text-info">تماس با ما</h5>
        <p class="small">با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها  اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          <span>تلفن: </span>
          <span> 02186868686 </span>
      </div>
    </div>
</footer>