<nav class="flexmenu userSelect d-flex flex-wrap rtl">
    <div class="flex-grow-1 mr-5 d-md-none">
        <div class="container-icon mr-4 mt-1">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <div class="menuContainer d-md-flex flex-grow-1 userSelect">	
        <ul id="flexmenu1" class="mymenu1 p-0 m-0 pr-md-5  d-md-flex">
            <li class="m-0 pr-5 pr-md-0"><a class="text-white p-2 p-md-3 d-block w-100 h-100" href="/">صفحه اصلی</a></li>
            <li class="m-0 pr-5 pr-md-0"><a class="text-white p-2 p-md-3 d-block w-100 h-100" href="/#intro">معرفی محصول</a></li>
            <li class="m-0 pr-5 pr-md-0"><a class="text-white p-2 p-md-3 d-block w-100 h-100" href="/#gallery">گالری</a></li>
            <li class="m-0 pr-5 pr-md-0"><a class="text-white p-2 p-md-3 d-block w-100 h-100" href="/#specscroll">مشخصات</a></li>
            <li class="m-0 pr-5 pr-md-0"><a class="text-white p-2 p-md-3 d-block w-100 h-100" href="/#contact">ارتباط با ما</a></li>
            <li class="m-0 pr-5 pr-md-0"><span class="text-white p-2 p-md-3 d-block w-100 h-100 cursor-pointer"> سایر </span>
                <ul>
                    <li><a class="text-white" href="/pages/register">CRUD op</a></li>
                    <li><a class="text-white" href="/pages/infinite-scroll"> photo api</a></li>
                </ul>				
            </li>
        </ul>
    </div>
    <ul>
        <li id="login" class="mr-auto ml-3 "><a href="#">ورود</a></li>
    </ul>
</nav>